<% include header.html %>

      <div>
        <h4><bold>Version 1</bold></h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Resource</th>
                <th>Description</th>
                <th>Returns</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET /1/mostRecent</td>
                <td>Will get the most recent measurement available.</td>
                <td>Object containing time, PM2.5 value and location of measurement.</td>
              </tr>              
              <tr>
                <td>GET /1/sendTweet</td>
                <td>Will send out a tweet to the linked account. <em>This is dependent on the key param matching a value stored on the server</em></td>
                <td>Returns success if a tweet was attempted to be sent, does not indicate if it was successfuly sent.</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div>
        <h4><bold>Address</bold></h4>
        All API calls should be made to http://ubdata.herokuapp.com.
      </div>      

      <div>
        <h4><bold>Return format</bold></h4>
        All data is returned as JSON objects.
      </div>

<% include footer.html %>
