<% include header.html %>

<ul class="nav nav-tabs">
  <li id="btn3hrAverage" class="active"><a href="">3hr Average</a></li>
  <li id="btnDailyAverage"><a href="">Daily Average</a></li>
  <li id="btnMonthlyAverage"><a href="">Monthly Average</a></li>
</ul>

<div id="charts">
  <div id="chart3hr" class="chart"></div>
  <div id="chartDay" class="chart">
    <span class="label"><h3>Coming soon...</h3></span>
  </div>
  <div id="chartMonth" class="chart">
    <span class="label"><h3>Coming soon...</h3></span>
  </div>
</div>
<div id="chartFooter">
  Data available from <a href="http://ubdata.herokuapp.com/1/mostRecentMeasurements">http://ubdata.herokuapp.com/1/mostRecentMeasurements</a>.
</div>

<script src="http://d3js.org/d3.v3.js"></script>
<script src="/js/charts.js"></script>
    
<% include footer.html %>
