      <hr>

      <div class="footer">
        <p>Contact <a href="mailto:joe@joeflasher.com?subject=UB%20Data%20API">joe@joeflasher.com</a> with any technical issues.</p>
        <!-- <div class="btn-toolbar"> -->
          <!-- <div class="btn-group pull-right"> -->
            <a class="btn btn-link pull-right" href="http://ubairpollution.org/"><img src="/img/website.png"/></a>
            <a class="btn btn-link pull-right" href="https://www.facebook.com/UBAirQuality"><img src="/img/fb.png"/></a>                        
            <a class="btn btn-link pull-right" href="https://twitter.com/ub_air"><img src="/img/twitter.png"/></a>            
          <!-- </div> -->
        <!-- </div> -->
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tipsy.js"></script>

  </body>
</html>