<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ulaanbaatar Air Pollution API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/tipsy.css" rel="stylesheet">

    <script src="/js/jquery-1.9.1.min.js"></script>    

  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li <% if (page === 'root') { %> class="active" <% } %>><a href="/">Home</a></li>
          <li <% if (page === 'charts') { %> class="active" <% } %>><a href="/charts">Charts</a></li>
          <li <% if (page === 'api') { %> class="active" <% } %>><a href="/api">API</a></li>
        </ul>
        <h3 class="muted">ubData</h3>
      </div>

      <hr>