<% include header.html %>

      <div class="jumbotron">
        <h1>Ulaanbaatar air pollution API</h1>
        <p class="lead">A simple API that gives easier access to the air pollution data that exists for Ulaanbaatar, Mongolia.</p>
        <a class="btn btn-large btn-success" href="https://github.com/jflasher/ubdata">Fork me on GitHub!</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <h4>Functional Description</h4>
        <p>Right now the API acts as a lightweight wrapper around the output of a single instrument. The instrument outputs something that looks like this to a public Dropbox folder</p>
        <p><code>2013-05-05;00:00-03:00;0.024000;1;47.924364°N;106.918375°E;</code></p>
        <p>and the API turns it into something that looks like this</p>
        <p><code>{"startTime":1367726400000,"endTime":1367737200000,"pm25":24,"station":{"id":"1","latitude":47.924364,"longitude":106.918375}}</code></p>
        <p>The API output format is in JSON, which is easier to work with programmatically and also takes care of saving data to a database.</p>
        <p>The values being reported are measurement start time, end time, PM2.5 concentration in micrograms per cubic meter, and information about the reporting instrument.</p>

        <h4>Connected Instruments</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Location</th>
                <th>Frequency</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>TSI Dusttrack DRX</td>
                <td>National University of Mongolia</td>
                <td>Every 3 hours, every other day</td>
              </tr>
            </tbody>
          </table>
          If you would like to have your instrument connected to the network, contact <a href="mailto:christa.hasenkopf@gmail.com?subject=UB%20Data%20API">Dr. Christa Hasenkopf</a> or <a href="mailto:lodoysamba@gmail.com?subject=UB%20Data%20API">Prof. Lodoysamba Sereeter</a>.
      </div>

<% include footer.html %>
